.databricks/
build/
dist/
__pycache__/
*.egg-info
.venv/
.venv_311/
scratch/**
#!scratch/README.md
resources/taxitrip_dev_ingest.pipeline.yml
src/DW/**
src/taxitrip_dev_ingest/ingest_data/**
src/dlt_pipeline.ipynb